<template>
  <div>
    <!-- prevent mean is when enter then no refresh page -->
    <form @submit.prevent="save()">
      <span>Todo:&nbsp;</span><input type="text" v-model="inputText"/>
      <div>
        <button type="submit">Save</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'InputForm',
  data () {
    return {
      inputText: ''
    }
  },
  methods: {
    save () {
      this.$emit('onSave', this.inputText)
      this.inputText = ''
    }
  }
}
</script>

<style scoped></style>
