<template>
  <div id="app">
    <img src="./assets/logo.png"/>
    <todo-list :items="sortedItem" @onItemDone="done"></todo-list>
    <input-form @onSave="save"></input-form>
  </div>
</template>

<script>
import TodoList from './components/TodoList'
import InputForm from './components/InputForm'
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'app',
  components: { TodoList, InputForm },
  filters: {
    capitalized (val) {
      return val.toUpperCase()
    }
  },
  mounted () {
    this.initItems(JSON.parse(localStorage['todoItems']))
  },
  computed: {
    ...mapState(['items']),
    sortedItem () {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.items.sort((a, b) => {
        // eslint-disable-next-line no-unused-expressions
        b.time - a.time
      }).filter(item => {
        return item.completed === false
      })
    }
  },
  methods: {
    ...mapMutations(['addItem', 'initItems']),
    done (id) {
      this.items = this.items.map(elem => {
        if (id === elem.time) {
          elem.completed = true
        }
        localStorage.setItem('todoItems', JSON.stringify(this.items))
        return elem
      })
      this.initItems(JSON.parse(localStorage['todoItems']))
    },
    save (text) {
      this.addItem({
        text: text,
        time: Date.now(),
        completed: false
      })
      localStorage.setItem('todoItems', JSON.stringify(this.items))
    }
  }
}
</script>

<style>
  #app {
    margin: 60px 60px 60px 60px;
    text-align: center;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  ul {
    list-style-position: inside;
  }
</style>
